@windicss;

body {
  font-family: "Roboto Mono";
  min-height: 100vh;
  @apply text-xl bg-dark-700 text-white;
}

#app {
  min-height: 100vh;
}

footer: {
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

.button,
button {
  @apply py-2 px-8 rounded-lg font-font-semibold border-none uppercase bg-black text-white hover:bg-gray-700;
}

.server-list {
  @apply grid gap-8;
}
